@using MvcFXProductMgr.Models;
@model TestingOrgModel
          
@if (Model == null  )
{
    ViewBag.Title = "新增检测机构信息";
}else if(Model.Id==0){
    ViewBag.Title = "新增检测机构信息";
}
else {   
    ViewBag.Title = "修改检测机构信息";   
}
                  
<div class="testingInfo">
    <h2>@ViewBag.Title</h2>
    <form action=@Url.Action("TestingOrgManage", "TestingOrg") method="post">
        <dl>
            <dt class="hide">检测机构Id：</dt>
            <dd class="hide">
                <input type="text" id="TxtTId" name="Id" value="@(Model!=null ? Model.Id : 0)"/>
            </dd>
        </dl>
        <dl>
            <dt>检测机构名称：</dt>
            <dd>
                <textarea rows="2" cols="25" id="TxtTName" name="Name" class="txtarea">@(Model!= null ? Model.Name : null)</textarea>
                <span class="errMsg">检测机构名称为空，请重新输入。</span>
            </dd>
        </dl>
        <dl>
            <dt>检测机构网址：</dt>
            <dd>
                <textarea rows="2" cols="25" id="TxtTUrl" name="Url" class="txtarea">@(Model != null ? Model.Url : null)</textarea>
                <span class="errMsg">检测机构网址格式不正确，请重新输入。</span>
            </dd>
        </dl>
        <dl>
            <dt>检测机构电话：</dt>
            <dd>
                <input  type="text" id="TxtTTel" name="Tel" class="txtTel" value="@(Model != null ? Model.Tel : null)" />
                <span class="errMsg">电话号码格式不正确，请重新输入。</span>
            </dd>
        </dl>
        <div class="btn-function">
            <input class="button" name="btnSave" type="submit" value="保存" /> 
            <input class="button" name="btnCancel" type="button" value="取消" /> 
        </div>
    </form>
</div>