              <div id="leftMenu">
                    <div class="leftMenu-header"><a class="icon-home" href=@Url.Action("Index","Home") ><i class="glyphicon glyphicon-home menu-icon"></i>管理中心</a></div>
                    <div class="leftMenu-list">
                        <h3 class="leftMenu-list-header"><i class="glyphicon glyphicon-th-list menu-icon"></i>产品管理<i class="glyphicon glyphicon-menu-down menu-onOff
"></i></h3>
                        <ul>
                            <li><i class="glyphicon glyphicon-plus menu-icon"></i>@Html.ActionLink("批量上传", "AddProducts", "Product")</li>
                            <li><i class="glyphicon glyphicon-pencil menu-icon"></i><a href="">批量更新</a></li>
                            <li><i class="glyphicon glyphicon-remove menu-icon"></i><a href="">批量删除</a></li>
                            <li><i class="glyphicon glyphicon-search menu-icon"></i>@Html.ActionLink("产品查询", "GetProducts", "Product")</li>
                        </ul>                     
                    </div>
                    <div class="leftMenu-list">
                        <h3 class="leftMenu-list-header"><i class="glyphicon glyphicon-user menu-icon"></i>账号管理<i class="glyphicon glyphicon-menu-down menu-onOff
"></i></h3>
                        <ul>
                            <li><i class="glyphicon glyphicon-plus menu-icon"></i> @Html.ActionLink("增加用户", "Register", "Account")</li>
                            <li><i class="glyphicon glyphicon-pencil menu-icon"></i>@Html.ActionLink("修改密码", "ChangePassword", "Account")</li>
                            <li><i class="glyphicon glyphicon-remove menu-icon"></i><a href="">删除用户</a></li>
                            <li><i class="glyphicon glyphicon-search menu-icon"></i>@Html.ActionLink("查看日志", "Index", "Log")</li>
                        </ul>         
                    </div>
                    <div class="leftMenu-list">
                    <h3 class="leftMenu-list-header"><i class="glyphicon glyphicon-queen menu-icon"></i>公司信息管理<i class="glyphicon glyphicon-menu-down menu-onOff
"></i></h3>
                    <ul>   
                        <li><i class="glyphicon glyphicon-plus menu-icon"></i> @Html.ActionLink("增加公司信息", "CreateNewCompany", "Company")</li>
                        <li><i class="glyphicon glyphicon-pencil menu-icon"></i>@Html.ActionLink("修改公司信息", "UpdateCompany", "Company")</li>
                        <li><i class="glyphicon glyphicon-remove menu-icon"></i>@Html.ActionLink("删除公司信息", "DeleteCompany", "Company")</li>
                    </ul>
        
                    </div>
                    <div class="leftMenu-list">
                        <h3 class="leftMenu-list-header"><i class="glyphicon glyphicon-check menu-icon"></i>检测机构管理<i class="glyphicon glyphicon-menu-down menu-onOff
"></i></h3>
                        <ul>   
                            <li><i class="glyphicon glyphicon-plus menu-icon"></i>@Html.ActionLink("增加检测机构", "CreateNewTestingOrg", "TestingOrg")</li>
                            <li><i class="glyphicon glyphicon-pencil menu-icon"></i>@Html.ActionLink("修改检测机构", "UpdateTestingOrg", "TestingOrg")></li>
                            <li><i class="glyphicon glyphicon-remove menu-icon"></i>@Html.ActionLink("删除检测机构", "DeleteTestingOrg", "TestingOrg")""></li>
                        </ul>
                    </div>
                    <div class="leftMenu-list">
                        <h3 class="leftMenu-list-header"><i class="glyphicon glyphicon-volume-up menu-icon"></i>广告信息管理<i class="glyphicon glyphicon-menu-down menu-onOff
"></i></h3>
                        <ul>   
                            <li><i class="glyphicon glyphicon-plus menu-icon"></i><a href="">增加广告</a></li>
                            <li><i class="glyphicon glyphicon-pencil menu-icon"></i><a href="">修改广告</a></li>
                            <li><i class="glyphicon glyphicon-remove menu-icon"></i><a href="">删除广告</a></li>
                        </ul>
                    </div>

                </div>